@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义滚动动画 */
@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 40s linear infinite;
}

/* 自定义样式 */
html {
  scroll-behavior: smooth;
}