DB_HOST=db
DB_PORT=3306
DB_NAME=wewe-rss
DB_USERNAME=wewe
DB_PASSWORD=replace-with-strong-password

AUTH_CODE=replace-with-strong-auth-code
MAX_REQUEST_PER_MINUTE=60
FEED_MODE=fulltext
CRON_EXPRESSION=35 */2 * * *
SERVER_ORIGIN_URL=http://localhost:4000
ENABLE_CLEAN_HTML=true
HIDE_EXTRA_DESCRIPTION=false
TOKEN=
